{% extends 'OfflineBundle::layout.html.twig' %}

{% block body %}
    <div id="main-nav" class="navbar navbar-default navbar-fixed-top">
        <div id="main-nav-background">
            <div><img id="main-nav-logo" src="{{ asset('img/sabrus-menu-logo.png') }}"><a href="#"></a></div>
            {#<div><span id="slogan">good slogan here</span></div>#}
        </div>
        <div  class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="mynav" class="navbar-collapse collapse">
                <ul id="main-nav-items" class="nav navbar-nav">
                    <li id="home-id" class="active"><a class="smoothScroll" href="#home"><span>Home</span></a></li>
                    <li><a class="smoothScroll" href="#our-service"><span>Our Service</span></a></li>
                    <li><a class="smoothScroll" href="#team"><span>The Team</span></a></li>
                    <li id="contact-id"><a class="smoothScroll" href="#contact"><span>Contact</span></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div id="page-container" class="container-liquid" data-spy="scroll" data-target="#mynav">
        <div id="home" class="col-xs-12 home-section">
            <div id="home-text">
                We are cooking <br> something special <br> for you.<br>Coming soon!
            </div>
            <div class="countdown">
                <div id="countdown-control">
                    <div id="countdown-circle">
                        <div id="date-countdown">
                            <div class="days"></div>
                            <div id="date-days"><span>days</span></div>
                        </div>
                    </div>
                    <div id="time-countdown">
                        <div id="time-hours">
                            <div class="hours"></div>
                            <div id="time-hours-div"><span>hours</span></div>
                        </div>
                        <div id="time-minutes">
                            <div class="minutes"></div>
                            <div id="time-minutes-div"><span>minutes</span></div>
                        </div>
                        <div id="time-seconds">
                            <div class="seconds"></div>
                            <div id="time-seconds-div"><span>seconds</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="our-service" class="col-xs-12 text-center our-service-section">
            <div class="arrow"></div>
            {#<div id="top-bubbles"></div>#}
            <div id="our-service-text">Our Service</div>
            <div id="services">
                <div id="guest-to-eat-col">
                    <div id="guest-to-eat-img"></div>
                    <div id="guest-to-eat-text" class="services-text">Enjoying homemade cuisine</div>
                </div>
                <div id="host-to-cook-col" class="active">
                    <div id="host-to-cook-img"></div>
                    <div id="host-to-cook-text" class="services-text">Cooking amazing meals</div>
                </div>
                <div id="where-you-like-col">
                    <div id="where-you-like-img"></div>
                    <div id="where-you-like-text" class="services-text">Unique dining opportunities</div>
                </div>
                <div id="service-description">
                    <p id="service-description-p"></p>
                </div>
                {#<div id="bottom-bubbles"></div>#}
            </div>
        </div>

        <div id="team" class="col-xs-12 text-center team-section">
            <div class="arrow"></div>
            <div id="the-team-img"><img src="{{ asset('img/team-logo.png') }}"/></div>
            <div id="the-team-text"><span>The Team</span></div>
            <div id="the-team-description">
                <p>Our highest priority is to satisfy the Host, Guest and all the Sabrus Community through early and continuous delivery of valuable services. Simplicity is essential!
                    ...and we love good homemade food.
                </p>
            </div>
            <div id="team-members">
                <div id="team-member-1" class="team-member-info">
                    <div class="member-role">Founder</div>
                    <div class="team-member-img">
                        <img src="{{ asset('img/founder-picture.png') }}"/>
                    </div>
                    <div class="member-name">Patrik von Arx</div>
                    {#<div class="member-from">from Paris</div>#}
                </div>
                <div id="team-member-2" class="team-member-info">
                    <div class="member-role">Founder-CEO</div>
                    <div class="team-member-img">
                        <img src="{{ asset('img/founder-ceo-picture.png') }}"/>
                    </div>
                    <div class="member-name">Pedro Torres</div>
                    {#<div class="member-from">from Paris</div>#}
                </div>
                <div id="team-member-3" class="team-member-info">
                    <div class="member-role">Designer</div>
                    <div class="team-member-img">
                        <img src="{{ asset('img/designer-picture.png') }}"/>
                    </div>
                    <div class="member-name">Fidel A. Morales</div>
                    {#<div class="member-from">from Paris</div>#}
                </div>
                <div id="team-member-4" class="team-member-info">
                    <div class="member-role">Developer</div>
                    <div class="team-member-img">
                        <img src="{{ asset('img/developer-picture.png') }}"/>
                    </div>
                    <div class="member-name">Jakob Wanner</div>
                    {#<div class="member-from">from Paris</div>#}
                </div>
            </div>
        </div>

        <div id="contact" class="col-md-12 col-xs-12 contact-section">
            <div id="feedback-alert" class="alert alert-info">Thank you for your feedback. We will keep in touch with you.</div>
            <div class="arrow"></div>
            <div class="col-md-6">
                <div id="sabrus-contact-logo"></div>
                <div id="contact-text">
                    <span>We want to invite you to be part of our Community!</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row text-center">
                    <div id="want-to-be-text" class="contact-text">Do you want to be</div>
                    <div id="want-to-be-images">
                        <div id="host" class="selected">
                            <div id="host-img"></div>
                            <div class="contact-text">Just a Host</div>
                        </div>
                        <div id="guest">
                            <div id="guest-img"></div>
                            <div class="contact-text">Just a Guest</div>
                        </div>
                        <div id="host-guest">
                            <div id="host-guest-img"></div>
                            <div class="contact-text">Host & Guest</div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div id="contact-form" class="form" data-url="{{ path('get_user_feedback') }}">
                        <input type="text" class="form-control" id="input-name" name="username" placeholder="Name">
                        <input type="text" class="form-control" id="where-you-from" name="whereYouFrom" placeholder="Where are you from?">
                        <div id="grouping-div">
                            <input type="email" class="form-control" id="input-email" name="email" placeholder="Email">
                            <input type="submit" id="btn-send" class="btn btn-success" value="Send">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
